:root {
    /* 
        Color Palette from: https://colorhunt.co/palette/03001c301e675b8fb9b6eada
    */
    --color-main: #03001c;
    --color-contrast: #B6EADA;
    --color-accent1: #5B8FB9;
    --color-accent2: #301E67;
}

* {
    color: var(--color-main);
    background-color: var(--color-contrast);
    border-color: var(--color-accent1);
}

header {
    /* background-color: aqua; */
}

img:hover {
    filter: none;
}

a {
    color: var(--color-main);
    border-color: var(--color-main);
}

main > section:hover {
    box-shadow: 1rem 1px 5px var(--color-accent2);
}

.work-label-box {
    background-color: var(--color-main);
    color: var(--color-contrast);
}

 /* #work  */
 img {
    filter: contrast(75%)
}