header {
    /* background-color: aqua; */
}

nav a {
    color: black
}

main > section:hover {
    box-shadow: 1rem 1px 5px black;
}

.work-label-box {
    background-color: black;
    color: white;
}