
* {
    transition-duration: 1s;
}

a:hover {
    padding-bottom: 0;
}

a:active {
    font-style: italic;
}

main > section:hover {
    box-shadow: 1rem 1px 5px var(--color-accent2);
}

.work-image {
    filter: contrast(50%)
}

.work-image:hover {
    filter: none;
}