
* {
    transition-duration: 1s;
}

a:focus {
    border-style: double;
    border-width: var(--border-width);
}

main > section:hover {
    box-shadow: 1rem 1px 5px var(--color-accent2);
}

.link-text:hover {
    padding-bottom: 0;
}

.link-text:active {
    font-style: italic;
}

.work-image {
    filter: contrast(50%)
}

.work-image:hover {
    filter: none;
}