* {
    margin: 0;
    padding: 0;
}

aside {
    width: 15%;
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 1.5rem;
    border-right-width: 3px;
    border-right-style: solid;
    padding: 0 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: .25rem 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

main {
    padding: 0 5%;
    padding-top: 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

section {
    display: flex;
    justify-content: flex-start;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
}

aside * {
    display: inline-block;
    text-align: right;
}

.link-text {
    text-decoration: none;
    padding: .5rem 0;
    height: 2rem;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    height: fit-content;
    width: fit-content;
    display: inline-block;
    margin: 0.5rem 0.5rem;
}

header * {
    margin: .5rem .5rem;
}

header h1 {
    padding-left: 3rem
}


main>section {
    padding: .5rem;
}

section>section {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-label-box {
    position: relative;
    bottom: 3rem;
    left: 3px;
    width: fit-content;
    padding: .25rem;
}

#ProfilePhoto {
    border-radius: 100%;
}

#Splash {
    background-image: url("../images/Splash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 10rem;
    width: 100%;
}

h2 {
    position: relative;
    left: 70%;
    top: 7rem;
    width: fit-content;
    padding: .5rem;
}

#Work article {
    margin: 0rem;
    width: 40%;
    height: fit-content;
    flex: 0 1 auto;
}

#Work img {
    border-width: 3px;
    border-style: solid;
}

#Work article:first-of-type {
    width: 100%;
    max-width: 100%;
    flex: 0 1 100%;
}