* {
    margin: 0;
    padding: 0;
}

:root {
    --page-side-spacing: 2rem;
    --element-spacing-thin: 0.5rem;
    --element-spacing-med: 1rem;
    --border-width: 5px;
    --element-padding-med: 1rem;
    --element-padding-thin: 0.5rem;
}

aside {
    width: 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: var(--element-spacing-thin);
    border-right-width: var(--border-width);
    border-right-style: solid;
    padding: 0 var(--element-spacing-thin);
}

header {
    display: flex;
    justify-content: space-between;
    padding: var(--element-spacing-thin) 0;
}

h2 {
    position: relative;
    float: right;
    top: 7rem;
    width: fit-content;
    padding: var(--element-padding-thin);
    margin-right: var(--page-side-spacing);
}

img {
    max-height: 100%;
    max-width: 100%;
}

main {
    padding: 0 var(--page-side-spacing);
    padding-top: var(--element-padding-med);
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: var(--page-side-spacing);
}

section {
    display: flex;
    padding: var(--element-spacing-med) var(--element-padding-med);
    margin-bottom: var(--element-spacing-med);
}

aside * {
    display: inline-block;
    text-align: right;
}

header h1 {
    padding: var(--element-padding-med);
    padding-left: var(--page-side-spacing);
    margin: 0 0;
}

section>section {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    padding: 0 var(--element-padding-thin);
}

.link-text {
    text-decoration: none;
    padding: var(--element-padding-thin) 0;
    height: 2rem;
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    height: fit-content;
    width: fit-content;
    display: inline-block;
    margin: var(--element-spacing-thin) var(--element-spacing-thin);
}

.work-label-box {
    position: relative;
    bottom: 6rem;
    left: 3px;
    width: fit-content;
    padding: var(--element-padding-thin);
    /* this negative margin is needed to offset the 
    space being taken up by the object even after it
    is moved */
    margin-bottom: -3rem;
}

#ProfilePhoto {
    border-radius: 100%;
}

#Splash {
    background-image: url("../images/Splash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 10rem;
    width: 100%;
}

#Work article {
    margin: 0 var(--element-padding-thin);
    width: 45%;
    max-width: 50%;
    flex: 1 1 auto;
}

#Work article:first-of-type {
    width: 100%;
    max-width: 100%;
}

#Work img {
    border-width: var(--border-width);
    border-style: solid;
}