* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

aside h3{
    font-size: 2rem;
}

header {
    white-space: nowrap;
}

nav a,
#ContactMe a {
    font-size: 1rem;
}

.work-lable-box {
    white-space: nowrap;
}

.work-label-box h3 {
    font-size: 1.5rem;
}

.work-label-box p {
    font-weight: lighter;
}


#AboutMe p {
    font-family: 'Times New Roman', Times, serif;
}