header {
    background-color: var(--color-main);
}

nav {
    background: var(--color-main);
}

header div {
    color: var(--color-main);
    background-color: var(--color-contrast);
}

nav a {
    color: var(--color-accent1);
    border-color: var(--color-accent1);
}


h1 {
    color: var(--color-main);
    background-color: var(--color-accent1);
}